<div class="sidebar">

<h2>WAREHAOUSE</h2>

<ul>

<li onclick="loadPage('dashboard')" data-page="dashboard">
<i data-lucide="layout-dashboard"></i>
<span>Dashboard</span>
</li>

<li onclick="loadPage('persediaan')" data-page="persediaan">
<i data-lucide="box"></i>
<span>Persediaan</span>
</li>

<li onclick="loadPage('penjualan')" data-page="penjualan">
<i data-lucide="shopping-cart"></i>
<span>Penjualan</span>
</li>

<li onclick="loadPage('pembelian')" data-page="pembelian">
<i data-lucide="download"></i>
<span>Pembelian</span>
</li>

<li onclick="loadPage('forecast')" data-page="forecast">
<i data-lucide="line-chart"></i>
<span>Forecast</span>
</li>

<li onclick="loadPage('opname')" data-page="opname">
<i data-lucide="clipboard-list"></i>
<span>Stok Opname</span>
</li>



</ul>

</div>